.footer{
    background:#1f1147;
    color:white;
    margin-top:auto;
    padding:18px 35px;
}

.footer-content{
    max-width:1100px;
    margin:auto;
    display:flex;
    align-items:center;
}

.footer-brand{
    display:flex;
    align-items:center;
    gap:15px;
}

.footer-brand img{
    width:55px;
    height:55px;
    border-radius:8px;
}

.footer-brand span{
    color:white;
    font-size:30px;
    font-weight:700;
}

.footer-brand p{
    margin-top:4px;
    color:#d1d5db;
    font-size:15px;
}

.footer-copyright{
    margin-top:14px;
    padding-top:10px;
    text-align:center;
    border-top:1px solid rgba(255,255,255,.15);
    color:#d1d5db;
    font-size:13px;
}