.home-page{
    min-height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:60px;
    background:linear-gradient(135deg,#eef2ff,#fdf2f8);
}

.hero{
    width:1200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.hero-left{
    flex:1;
}

.hero-right{
    flex:1;
    text-align:center;
}

.hero-right img{
    width:420px;
    max-width:100%;
}

.home-badge{
    background:#e0e7ff;
    color:#4c1d95;
    padding:8px 18px;
    border-radius:30px;
    font-weight:bold;
}

.hero h1{
    font-size:52px;
    margin:25px 0;
    color:#1f2937;
}

.hero p{
    font-size:18px;
    color:#4b5563;
    line-height:1.8;
}

.home-actions{
    margin-top:35px;
    display:flex;
    gap:15px;
}

.primary-button,
.secondary-button{
    padding:14px 30px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.primary-button{
    background:#6366f1;
    color:white;
}

.primary-button:hover{
    background:#4338ca;
}

.secondary-button{
    background:white;
    color:#4338ca;
    border:2px solid #4338ca;
}

.secondary-button:hover{
    background:#4338ca;
    color:white;
}